<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/admin.css"
          media="all" th:href="@{../css/admin.css}">
    <title>Добавить Товар</title>
</head>
<body>
<center>
    <h2>Добавить товар</h2>
</center>
<form th:action="@{/admin/add}" th:object="${product}" method="post">
    <div><label>Название товара:
        <input  type="text" placeholder="имя товара" th:field="${product.name}">
    </label>
    <label>Цена товара:
        <input type="text" placeholder="цена" th:field="${product.price}">
    </label>
   <label>Количество товара:
        <input  type="text" placeholder="количество" th:field="${product.quantity}">
   </label>
    <label>Описание товара:
        <input  type="text" placeholder="описание" th:field="${product.description}">
    </label>
    <input type="submit" value="добавить">
    </div>
</form>
</body>
</html>