<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/admin.css"
          media="all" th:href="@{../css/admin.css}">
    <title>Администратор</title>
</head>
<body>
<center>
    <h1>Привет Администратор !</h1>
   <a href="/admin/all_product">Просмотреть товар</a><br/><br/>
   <a href="/admin/add">Добавить товар</a><br/><br/><br/>
    <a href="/">Выйти</a>
</center>


</body>
</html>