<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/admin.css"
          media="all" th:href="@{../css/admin.css}">
    <title>Администратор</title>
    <style>
        body{
            display: flex;
            justify-items: center;
            justify-content: center;
        }
        .center{
            width: 400px;
            min-height: 300px;
        }
    </style>
</head>
<body>

<div class="center">
    <h2>Привет Администратор !</h2>
    <div>
    <li><a href="/admin/paper/all_product">Бумага</a></li>
    <li><a href="/admin/pens/all_pens">Ручки</a></li>
    <li><a href="/admin/holes/all_holes">Дыракол</a></li>
    </div><br/><br/>
    <a href="/">Выйти</a>
</div>

</body>
</html>