<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/admin.css"
          media="all" th:href="@{../css/admin.css}">
    <title>Список товаров</title>
    <style>

    </style>
</head>
<body>
<center>
    <a href="/admin">Вернуться на главную страницу администратора</a>
    <div>
        <table style="background-color: snow" border="1">
            <caption> <h2>Список товаров</h2></caption>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Цена<p id="rub">руб.</p></th>
                <th>Количество</th>
                <th>Описание</th>
                <th>Обновить</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="product : ${products}">
                <td><a id="getID" th:href="@{/admin/product/{id}(id=${product.getId()})}"  th:text="${product.getId()}"></a></td>
                <td th:text="${product.getName()}">...</td>
                <td th:text="${product.getPrice()}">...</td>
                <td th:text="${product.getQuantity()}">...</td>
                <td th:text="${product.getDescription()}">...</td>
                <td><a id="update" th:href="@{/admin/update/{id}(id=${product.getId()})}">
                    обновить</a></td>
                <td><a id="delete" href="#zatemnenie">удалить</a></td>
                <div id="zatemnenie">
                    <div id="okno">
                        Вы хотите удалить?<br>
                        <a th:href="@{/admin/delete/{id}(id=${product.getId()})}" class="close">Удалить</a>
                        <a href="/admin/all_product" class="close">Закрыть</a>
                    </div>
                </div>
            </tr>
        </table>
    </div><br/>
</center>
</body>
</html>