<html th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<div class="block1">
    <img th:src="@{../images/logotype.jpg}" alt="logotype"/>
</div>
<div class="in-my_block1">
    <span>Пользователь:</span><span th:inline="text" style="color: lime; font-size: 1.3em">
    [[${name}]]</span>
</div>
<div class="in-my_block2">
    <ul class="nav">
        <li><a href="/user-page">Главная</a></li>
        <li><a href="/user_pages/basket"><nobr>Моя корзина</nobr></a></li>
        <li><a href="/user_pages/orders"><nobr>Мои счет-фактуры</nobr></a></li>
        <li><a href="/">Выйти</a></li>
    </ul>
</div>
</html>