<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../static/css/admin.css"
          media="all" th:href="@{../../css/admin.css}">
    <title>Описание товара</title>
    <style>
        body{
            background-color: rgba(66,182,189,0.43);
        }
        td{
            font-family: "Franklin Gothic Medium", sans-serif;
        }
        a{
            text-decoration: none;
            color: blue;
            font-size: 20px;
            font-family: "Times New Roman", sans-serif;
        }
        a:hover{
            color: snow;
        }
    </style>
</head>
<body>
<center>
    <h2>Информация о товаре</h2>
    <table>
        <tr>
            <th>ID: </th>
            <td th:text="${calculator.getId()}"></td>
        </tr>
        <tr>
            <th>Наименование: </th>
            <td th:text="${calculator.getName()}"></td>
        </tr>
        <tr>
            <th>Цена (в руб.): </th>
            <td th:text="${calculator.getPrice()}"></td>
        </tr>
        <tr>
            <th>Количество: </th>
            <td th:text="${calculator.getQuantity()}"></td>
        </tr>
        <tr>
            <th>Описание: </th>
            <td th:text="${calculator.getDescription()}"></td>
        </tr>
    </table>
    <br/><br/>
    <a href="/admin/calculators/all_calculator">Назад</a>
</center>
</body>
</html>