<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../static/css/admin.css"
          media="all" th:href="@{../../css/admin.css}">
    <title>Список товаров</title>
</head>
<body>
<header th:insert="block_admin_page/header_admin.html :: header"></header>
<div style="width: 100%; min-height: 400px">
<center>
    <a href="/admin">Вернуться на главную страницу администратора</a>
    <br/><br/><br/>
    <div>
        <a href="/admin/holders/add">Добавить товар</a>
    </div>
    <div style="overflow-x: scroll">
        <table style="background-color: snow" border="1">
            <caption> <h2>Список товаров</h2></caption>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Цена<p id="rub">руб.</p></th>
                <th>Количество</th>
                <th>Описание</th>
                <th>Url изображения</th>
                <th>Обновить</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="hold : ${holds}">
                <td><a id="getID" th:href="@{/admin/holders/hold/{id}(id=${hold.getId()})}"
                       th:text="${hold.getId()}"></a></td>
                <td th:text="${hold.getName()}">...</td>
                <td th:text="${hold.getPrice()}">...</td>
                <span th:if="${hold.getQuantity()==0}">
                <td th:inline="text" style="color: red">[[${hold.getQuantity()}]]</td>
                    </span>
                <span th:if="${hold.getQuantity()!=0}">
                <td th:inline="text" style="color: green">[[${hold.getQuantity()}]]</td>
                    </span>
                <td th:text="${hold.getDescription()}">...</td>
                <td th:text="${hold.getUrl()}">...</td>
                <td><a id="update" th:href="@{/admin/holders/update/{id}(id=${hold.getId()})}">
                    обновить</a></td>
                <td><a th:href="@{/admin/holders/delete/{id}(id=${hold.getId()})}" class="delete">Удалить</a></td>
            </tr>
        </table>
    </div><br/>
</center>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
</body>
</html>