<html th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<div class="container-fluid" style="background-color: darkslategrey; min-height: 11em">
   <div class="row  pt-3">
       <div class="col pl-4">
           <p class="text-light">&copy Врублевский Александр Company</p>
           <p class="text-light">Республика Беларусь</p>
       </div>
       <div class="col pl-4" style="line-height: 6px">
           <p class="text-light">220116 г.Минск ул.Школьная,1-25</p>
           <p class="text-light">тел. 220-20-20</p>
           <p class="text-light">alex@mail.ru</p>
       </div>
       <div class="col pl-4" style="line-height: 6px">
           <p class="text-light">Другого рода информация</p>
       </div>
   </div>
</div>
</html>