<html lang="en" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
<div style="background-color: #912de9" class="pr-4">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" href="/admin">Администратор</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" href="/login">Войти</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light font-weight-bold" href="/registration">Регистрация</a>
        </li>
    </ul>
</div>
</html>