<html lang="en" th:fragment="text" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="container">
    <h5 class="h5">
        <pre class="text-muted">Данная страница предназначена только для просмотра нашего товара.
    Если вы желаете приобрести товар, необходимо <a class="badge badge-info" style="font-size: 1.1rem" href="/registration">зарегистрироваться</a> на нашем сайте
          или <a class="badge badge-info" style="font-size: 1.1rem" href="/login">войти</a> в свой кабинет. Все эти действия предусмотрены для вашей <b>безопасности</b>.</pre>
    </h5>
</div>
</html>