<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../static/css/checkin.css"
    media="all" th:href="@{css/checkin.css}">
    <title>Вход в кабинет</title>
</head>
<body>
<div class="container">
<p id="h">Регистрация</p>
    <div class="error" th:if="${param.error}">
        Такое имя уже существует.
        <p>
            Введите новое имя.
        </p>
    </div>
    <div class="inner-block">
        <form th:action="@{/registration}"  method="post" >
            <div><label>Имя пользователя :
                <p><input class="input" type="text" placeholder="имя пользователя" name="username"/></p></label></div>
            <br/>
            <div><label>Пароль :
                <p><input class="input" type="password" placeholder="пароль" name="password"></p></label></div>
            <br/>
            <div><label>Подтверждение пароля :
                <p><input class="input" type="password" placeholder="подтвердить пароль" name="confirmPassword"></p></label></div>
            <br/><br/>
            <div><input class="submit" type="submit" value="Регистрировать"></div>
        </form>
    </div>
</div>
</body>
</html>