<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Вход в кабинет</title>
</head>
<body class="text-center">
<div class="container-fluid w-25 mt-md-5">
    <h5 class="h3 mb-3 font-weight-bold text-center" style="color: darkslategrey">Регистрация</h5>
        <form th:action="@{/registration}"  th:object="${user}"  method="post" >
            <label for="login"><strong>Имя пользователя :</strong></label>
                <input id="login" class="form-control" type="text" placeholder="имя пользователя" th:field="${user.login}" min="4" max="40"/>
                <p style="color: red; font-weight: bold"  th:text="${exist}"></p>
                <p style="color: red; font-weight: bold"  th:text="${lengthName}"></p>

            <label for="password"><strong> Пароль :</strong></label>
                <input id="password" class="form-control" type="password" placeholder="пароль" th:field="${user.password}" min="4" max="50">
                <p style="font-weight: bold; color: red"  th:text="${lengthPassword}"></p>
            <label for="confirm"><strong> Подтверждение пароля :</strong></label>
                <input id="confirm" class="form-control" type="password" placeholder="подтвердить пароль" th:field="${user.confirmPassword}">
                <p style="font-weight: bold; color: red" th:text="${equals}"></p>

            <input type="submit" class="btn btn-primary" value="Регистрировать">
        </form>
</div>
</body>
</html>