<html lang="en" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

<div style="background-color: #912de9" class="container-fluid text-light">
    <div class="col"></div>
    <div class="row">
        <div class="col text-center pt-2" id="username">

        </div>
    </div>
    <div class="col">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-light font-weight-bold" href="#">Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light font-weight-bold" href="/">Выйти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light font-weight-bold" href="#">Заявки</a>
            </li>
        </ul>
    </div>
</div>
</html>