body{
    width: 100%;
    min-height: 500px;
}
td {
    font-family: "Times New Roman", sans-serif;
    font-size: 1.1em;
    text-align: center;
}

header {
    background-color: rebeccapurple;
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*Блок в шапке слеваю. Распологается рис.*/
.block1 {
    min-height: 80px;
    margin: 5px;
    min-width: 20%;
    text-align: center;
}

img {
    width: 10em;
    height: 8em;
    margin-top: 5px;
}

/*---------Блок в шапке справа*/

.in-my_block1 {
    min-width: 15%;
    min-height: 15px;
    margin-top: 15px;
    margin-left: 5px;
    text-align: center;
    color: snow;
    padding-right: 20px;
    font-family: "Franklin Gothic Medium", serif;
    font-size: 20px;
}
/*------------------------------------------------------*/
.in-my_block2{
    width: 55%;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
}
.nav{
    list-style-type: none;
    width: 70%;
    min-height:25px;
    text-align: center;
    line-height: 50px;
}
.nav li{
    display: inline;
}
.nav li a{
    text-decoration: none;
    color: white;
    min-width: 250px;
    margin: 30px;
    text-align: center;
    padding: 10px;
    font-family: "Times New Roman",sans-serif;
    font-size: 1.1em;
}

/*---------  Главый блок -------*/
.head-block {
    display: flex;
    top: 5px;
}

.blockOne {
    width: 30%;
    min-height: 400px;
    margin: 5px;
}

.blockTwo {
    width: 70%;
    min-height: 400px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blockTwo a {
    display: block;
    width: 200px;
    margin: 10px;
    min-height: 150px;
    border: 3px outset slategray;
    font-family: "Times New Roman", serif;
    font-size: 1.07em;
}

.blockTwo a p {
    position: relative;
    left: 10px;
    bottom: 10px;
    color: rgba(19, 19, 19, 0.95);
}

.href-block1 {
    background-image: url("../images/xerox.jpg");
    background-size: 100%;
}

.href-block2 {
    background-image: url("../images/pen1.jpg");
}

.href-block3 {
    background-image: url("../images/steplers.jpg");
}

.href-block4 {
    background-image: url("../images/lotok.jpg");
    background-size: 100%;
}

.href-block5 {
    background-image: url("../images/hole.jpg");
}

.href-block6 {
    background-image: url("../images/registr.jpg");
    background-size: 100%;
}

.href-block7 {
    background-image: url("../images/calculator.jpg");
    background-size: 100%;
}

.href-block8 {
    background-image: url("../images/hoztovar.jpg");
}

/*--------Для страницы   - admin.html-------*/
a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
}

a:hover {
    color: cornflowerblue;
}

#getID {
    font-family: cursive;
}


/*--------Для страницы  - all_product--------*/
#update {
    text-decoration: none;
    color: darkblue;
    font-size: 1.1em;
}

#update:hover {
    color: lime;
}

.delete {
    text-decoration: none;
    color: darkblue;
    font-size: 1.1em;
}

.delete:hover {
    color: red;
}

#rub {
    font-size: 13px;
}

/*Описание подвала страницы*/
footer{
    left: 0;
    bottom: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
    background-color: rgba(92,152,141,0.69);
}
footer div{
    min-width: 30%;
    min-height: 50px;
    margin: 5px;
    padding: 10px;
    text-align-all: left;
    font-family: "Times New Roman",serif;
    line-height: 5px;
}
/*-----------Для страницы admin_orders.html-----------------*/
.head-block-orders{
    display: flex;
    width: 100%;
    min-height: 450px;
}
.left-block{
    overflow: auto;
    width: 30%;
    height:450px;
    margin: 10px;
    border: 1px black solid;
}
.right-block{
    width: 70%;
    height: 450px;
    overflow: auto;
    margin: 10px;
    border: 1px black solid;
}

