body{
    left: 0;
    top: 0;
}

a{
    text-decoration: none;
}
/*----------------------------------*/
span {
    font-size: 1.1em;
    font-family: "Times New Roman", sans-serif;
    color: rgba(19, 18, 7, 0.86);
}

span a{
    color: darkblue;
    font-family: "Franklin Gothic Medium", cursive;
}
span a:hover{
    color: chartreuse;
}
/*----------------------------------*/
header{
    background-color: rebeccapurple;
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/*Блок в шапке слеваю. Распологается рис.*/
.block1{
    height: 80px;
    margin: 5px;
    min-width: 20%;
    text-align: center;
}
img{
    width: 13em;
    height: 5em;
    margin-top: 5px;
}
/*--------------Описание блока с фото автора-------------------*/
.block_photo_author{
   height: 5em;
    width: 5em;
    margin-top: 9px;
    margin-left: 30px;
    border-radius: 50px;
    background-image: url("../images/victor.jpg");
    background-size: 100%;
}
/*Блок в шапке справа. Распоожены ссылки 'Войти' 'Регистрация'*/
.block2{
    min-height: 80px;
    margin: 5px;
    width: 60%;
    display: flex;
    justify-content: flex-end;
}

/*Описание ссылок 'Войти'  'Регистрация'*/
.nav{
    list-style-type: none;
    width: 600px;
    min-height:25px;
    text-align: center;
    margin-right: 30px;
    margin-top: 50px;
    line-height: 50px;

}
.nav li{
    display: inline;
    text-align: center;
}
.nav li a{
    text-decoration: none;
    color: white;
    width: 650px;
    padding: 20px;
    font-family: "Times New Roman",sans-serif;
    font-size: 1.1em;
}
/*_____________________________________________________________*/
/*Описание внутреннего общего блока*/
.container{
    width: auto;
    min-height: 500px;
    margin-top: 10px;
    padding-top: 20px;
    background-color: rgba(27,63,53,0.14);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container a{
    display: block;
    width: 300px;
    height: 200px;
    border: 3px outset slategray;
    text-align: -webkit-left;
    font-family: "Times New Roman", serif;
    font-size: 19px;
    margin: 10px;
}
.container a p{
    position: relative;
    left: 40px;
    top: 150px;
    color: rgba(19,19,19,0.95);
}
.href-block1:hover{
    background-image: url("../images/xerox2.jpg");
    background-size: 100%;
}
.href-block1{
    background-image: url("../images/xerox.jpg");
    background-size: 100%;
}
.href-block2:hover{
    background-image: url("../images/pen2.jpg");
}
.href-block2{
    background-image: url("../images/pen1.jpg");
    background-size: 100%;
}
.href-block3:hover{
    background-image: url("../images/steplers.jpg");
}
.href-block3{
    background-image: url("../images/stepler.jpg");
}
.href-block4:hover{
    background-image: url("../images/lotok2.jpg");
}
.href-block4{
    background-image: url("../images/lotok.jpg");
    background-size: 100%;
}
.href-block5:hover{
    background-image: url("../images/hole2.jpg");
}
.href-block5{
    background-image: url("../images/hole.jpg");
}
.href-block6:hover{
    background-image: url("../images/registr2.jpg");
}
.href-block6{
    background-image: url("../images/registr.jpg");
    background-size: 100%;
}
.href-block7:hover{
    background-image: url("../images/calculator2.jpg");
}
.href-block7{
    background-image: url("../images/calculator.jpg");
    background-size: 100%;
}
.href-block8:hover{
    background-image: url("../images/hoztovar2.jpg");
}
.href-block8{
    background-image: url("../images/hoztovar.jpg");
}
/*Описание внутреннего общего блока*/
.head-block{
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
}
/*Описание надписи "Назад на Главную страницу"*/
.back{
    text-decoration: none;
    color: darkslateblue;
    font-size: 1.2em;
    font-family: "Franklin Gothic Medium",Candara,serif;
}
.back:hover{
    color: blueviolet;
}
/*----------------------------------------------*/
/*Описание внутренних блоков с товаром*/

.inner-block{
    min-width: 300px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;
}
/*----------Описание размера картинки в блоках-----------*/
.image{
    width: 160px;
    height: 180px;
}
/*Описание подвала страницы*/
footer{
    left: 0;
    bottom: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
    background-color: rgba(92,152,141,0.69);
}
footer div{
    min-width: 30%;
    min-height: 50px;
    margin: 5px;
    padding: 10px;
    text-align-all: left;
    font-family: "Times New Roman",serif;
    line-height: 5px;
}
/*_________________________________________________*/
