
a{
    text-decoration: none;
}
body{
    left: 0;
    top: 0;
}
/*----------------------------------*/
header{
    background-color: rebeccapurple;
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/*Блок в шапке слеваю. Распологается рис.*/
.block1{
    height: 80px;
    min-width: 25%;
    margin: 5px;
    text-align: center;
}
img{
    width: 200px;
    height: 70px;
    margin-top: 5px;
}
.in-my_block1{
    width: 15%;
    min-height: 30px;
    text-align: center;
    color: snow;
    margin-top: 15px;
    margin-left: 5px;
    font-family: "Franklin Gothic Medium",serif;
    font-size: 20px;
}
.in-my_block2{
    width: 55%;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
}
.nav{
    list-style-type: none;
    width: 70%;
    min-height:25px;
    text-align: end;
    line-height: 50px;
}
.nav li{
    display: inline;
}
.nav li a{
    text-decoration: none;
    color: white;
    min-width: 250px;
    text-align: center;
    padding: 10px;
    font-family: "Times New Roman",sans-serif;
    font-size: 1.1em;
}
/*--------------------------------------------------------------*/

/*Описание внутреннего общего блока*/
.head-block{
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
}
/*Описание надписи "Назад на Главную страницу"*/
.back{
    text-decoration: none;
    color: darkslateblue;
    font-size: 1.2em;
    font-family: "Franklin Gothic Medium",Candara,serif;
}
.back:hover{
    color: blueviolet;
}
/*----------------------------------------------*/
/*Описание внутренних блоков с товаром*/

.inner-block{
    min-width: 300px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;
}

/*!*---------------------------------------------------*!*/
/*Описание подвала страницы*/
footer{
    left: 0;
    bottom: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
    background-color: rgba(92,152,141,0.69);
}
footer div{
    min-width: 30%;
    min-height: 50px;
    margin: 5px;
    padding: 10px;
    text-align-all: left;
    font-family: "Times New Roman",serif;
    line-height: 5px;
}

/*----------Описание размера картинки в блоках-----------*/
.image{
    width: 160px;
    height: 180px;
}
/*--------------Описание диалогового окна-----------------*/
.dialog{
    position: fixed;
    left: 0;
    top: 40px;
    border: 1px rebeccapurple solid;
    border-radius: 2% ;
    background-color: #d5d2ff;
}
/*---------Описание левого и правого блоков my_accounts------------*/
.order-head_block{
    display: inline-flex;
    width: 100%;
    min-height: 400px;
    margin: 5px;
}
.order-left_block{
    overflow: auto;
    width: 25%;
    height: 400px;
    margin: 10px;
    text-align: center;
}
.order-right_block{
    overflow: auto;
    width: 75%;
    height: 400px;
    margin: 10px;
}
/*----------описание правого блока my_accounts---------*/

#cancel{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman',cursive
}
#cancel:hover{
    color: darkblue;
}
/**/

