body{
    left: 0;
    top: 0;
}
a{
    text-decoration: none;
}
pre{
    font-size: 1.1em;
    font-family: "Times New Roman", sans-serif;
    color: rgba(19,18,7,0.86);
}
pre a{
    color: rebeccapurple;
    font-family: "Franklin Gothic Medium", cursive;
}
header{
    background-color: rebeccapurple;
    height: 90px;
    display: flex;
}
/*Блок в шапке слеваю. Распологается рис.*/
.block1{
    height: 80px;
    margin: 5px;
    width: 30%;
    text-align: center;
}
img{
    width: 200px;
    height: 70px;
    margin-top: 5px;
}
/*Блок в шапке справа. Распоожены ссылки 'Войти' 'Регистрация'*/
.block2{
    height: 80px;
    margin: 5px;
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
/*Описание ссылок 'Войти'  'Регистрация'*/
.nav{
    list-style-type: none;
    width: 600px;
    height:25px;
    text-align: center;
    margin-right: 30px;
    margin-top: 50px;
}
.nav li{
    display: inline;
}
.nav li a{
    text-decoration: none;
    color: white;
    width: 250px;
    padding: 20px;
    font-family: "Times New Roman",sans-serif;
    font-size: 1.2em;
}
/*_____________________________________________________________*/
/*Описание внутреннего общего блока*/
.head-block{
    width: 100%;
    min-height: 500px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
}
/*Описание надписи "Назад на Главную страницу"*/
.back{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-family: "Franklin Gothic Medium",Candara,serif;
}
.back:hover{
    color: blueviolet;
}
/*----------------------------------------------*/
/*Описание внутренних блоков с товаром*/

.inner-block{
    width: 300px;
    min-height: 200px;
    border: 1px solid silver;
    margin: 10px;
    padding: 10px;
}

/*---------------------------------------------------*/
/*Описание подвала страницы*/
footer{
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    background-color: rgba(92,152,141,0.69);
}
footer div{
    width: 30%;
    height: 190px;
    margin: 5px;
    padding-left: 30px;
    text-align: left;
    font-family: "Times New Roman",serif;
    line-height: 2px;
}
/*Блок в шапке справа. Распоожены ссылки 'Выйти'*/
.my_block{
    height: 80px;
    margin: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
}
.in-my_block1{
    width: 96%;
    height: 50%;
    margin: 2px;
    text-align: right;
    color: snow;
    padding-right: 20px;
    font-family: "Franklin Gothic Medium",serif;
    font-size: 20px;
}
.in-my_block2{
    width: 99%;
    height: 50%;
    margin: 2px;
    display: flex;
    justify-content: flex-end;
}
.in-my_block2 ul{
    list-style-type: none;
    width: 400px;
    height:25px;
    text-align: center;
}
.in-my_block2 ul li{
    display: inline;
}
.in-my_block2 ul li a{
    text-decoration: none;
    color: white;
    width: 250px;
    padding: 20px;
    font-family: "Franklin Gothic Medium",serif;
    font-size: 1.1em;
}