body{
    left: 0;
    top: 0;
}
a{
    text-decoration: none;
}

header{
    background-color: rebeccapurple;
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/*Блок в шапке слева. Распологается рис.*/
.block1{
    height: 80px;
    min-width: 25%;
    margin: 5px;
    text-align: center;
}
img{
    width: 200px;
    height: 70px;
    margin-top: 5px;
}
/*---------------------------------------*/
.in-my_block1{
    width: 15%;
    min-height: 30px;
    text-align: center;
    color: snow;
    margin-top: 15px;
    margin-left: 5px;
    font-family: "Franklin Gothic Medium",serif;
    font-size: 20px;
}
.in-my_block2{
    width: 55%;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
}
.nav{
    list-style-type: none;
    width: 70%;
    min-height:25px;
    text-align: center;
    line-height: 50px;
}
.nav li{
    display: inline;
}
.nav li a{
    text-decoration: none;
    color: white;
    min-width: 250px;
    text-align: center;
    padding: 10px;
    font-family: "Times New Roman",sans-serif;
    font-size: 1.1em;
}
/*_____________________________________________________________*/
/*Описание внутреннего общего блока*/
.container{
    width: auto;
    min-height: 500px;
    margin-top: 10px;
    padding-top: 20px;
    background-color: rgba(27,63,53,0.14);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container a{
    display: block;
    width: 300px;
    height: 200px;
    border: 3px outset slategray;
    text-align: -webkit-left;
    font-family: "Times New Roman", serif;
    font-size: 19px;
    margin: 10px;
}
.container a p{
    position: relative;
    left: 40px;
    top: 150px;
    color: rgba(19,19,19,0.95);
}
.href-block1:hover{
    background-image: url("../images/xerox2.jpg");
    background-size: 100%;
}
.href-block1{
    background-image: url("../images/xerox.jpg");
    background-size: 100%;
}
.href-block2:hover{
    background-image: url("../images/pen2.jpg");
}
.href-block2{
    background-image: url("../images/pen1.jpg");
    background-size: 100%;
}
.href-block3:hover{
    background-image: url("../images/steplers.jpg");
}
.href-block3{
    background-image: url("../images/stepler.jpg");
}
.href-block4:hover{
    background-image: url("../images/lotok2.jpg");
}
.href-block4{
    background-image: url("../images/lotok.jpg");
    background-size: 100%;
}
.href-block5:hover{
    background-image: url("../images/hole2.jpg");
}
.href-block5{
    background-image: url("../images/hole.jpg");
}
.href-block6:hover{
    background-image: url("../images/registr2.jpg");
}
.href-block6{
    background-image: url("../images/registr.jpg");
    background-size: 100%;
}
.href-block7:hover{
    background-image: url("../images/calculator2.jpg");
}
.href-block7{
    background-image: url("../images/calculator.jpg");
    background-size: 100%;
}
.href-block8:hover{
    background-image: url("../images/hoztovar2.jpg");
}
.href-block8{
    background-image: url("../images/hoztovar.jpg");
}
/*Описание подвала страницы*/
footer{
    left: 0;
    bottom: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-height: 200px;
    margin-top: 20px;
    background-color: rgba(92,152,141,0.69);
}
footer div{
    min-width: 30%;
    min-height: 50px;
    margin: 5px;
    padding: 10px;
    text-align-all: left;
    font-family: "Times New Roman",serif;
    line-height: 5px;
}
/*_________________________________________________*/
