<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../../static/css/admin.css"
          media="all" th:href="@{../../../css/admin.css}">
    <title>Описание товара</title>
    <style>
        td{
            font-family: "Times New Roman",fantasy;
        }
        a{
            text-decoration: none;
            color: black;
            font-size: 20px;
            font-family: "Times New Roman", sans-serif;
        }
        a:hover{
            color: blue;
        }
    </style>
</head>
<body>
<header th:insert="block_admin_page/header_admin.html :: header"></header>
<div style="width: 100%; min-height: 400px">
<center>
    <h2>Информация о товаре</h2>
    <img th:src="${folder.getUrl()}" alt="image" style="width: 160px; height: 180px">
    <table>
        <tr>
            <th>ID: </th>
            <td th:text="${folder.getId()}"></td>
        </tr>
        <tr>
            <th>Наименование: </th>
            <td th:text="${folder.getName()}"></td>
        </tr>
        <tr>
            <th>Цена (в руб.): </th>
            <td th:text="${folder.getPrice()}"></td>
        </tr>
        <tr>
            <th>Количество: </th>
            <td th:text="${folder.getQuantity()}"></td>
        </tr>
        <tr>
            <th>Описание: </th>
            <td th:text="${folder.getDescription()}"></td>
        </tr>
    </table>
    <br/><br/>
    <a href="/admin/calculators/all_calculator">Назад</a>
</center>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
</body>
</html>