<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/smoke/smoke-pure.css">
    <script type="text/javascript" src="../static/smoke/smoke-pure.js"></script>
    <title>Главная страница</title>
</head>
<body>
<span th:if="${flag == 1}">
    <script>
        function successfully() {
             let html = '<p style="color: green; font-weight: bold">Регистрация прошла успешно</p>';
            smoke.alert(html);
        }
        successfully();
    </script>
</span>
<header th:insert="block_head_page/header.html :: header"></header>
<div class="container text-center" th:insert="block_head_page/text.html :: text"></div>
<div style="width: 100%; background-color: #bde1e9">
    <div class="container">
        <div class="row m-1">
            <a class="col m-2 text-body card border border-secondary" style="text-decoration: none; box-shadow: 0 0 0 0.2rem grey" href="head_pages/blockOne">
                <h5 class="h5 card-title">Бумага</h5>
                <img class="card-img"  th:src="@{../static/images/xerox.jpg}" alt="paper">
            </a>
            <a class="col m-2 text-body card border border-secondary" style="text-decoration: none; box-shadow: 0 0 0 0.2rem grey" href="head_pages/blockTwo">
                <h5 class="card-title">Ручки</h5>
                <img class="card-img" th:src="@{../static/images/pen2.jpg}" alt="pens">
            </a>
            <a class="col m-2 text-body card border border-secondary" style="text-decoration: none; box-shadow: 0 0 0 0.2rem grey" href="head_pages/blockThree">
                <h5 class="card-title">Степлер</h5>
                <img class="card-img" th:src="@{../static/images/stepler.jpg}" alt="stapler">
            </a>
            <a class="col m-2 text-body card border border-secondary" style="text-decoration: none; box-shadow: 0 0 0 0.2rem grey" href="head_pages/blockFour">
                <h5 class="card-title">Лоток</h5>
                <img class="card-img" th:src="@{../static/images/lotok.jpg}" alt="lotok">
            </a>
        </div>
        <div class="row m-1">
            <a class="col m-2 text-body card border border-secondary" style="text-decoration: none; box-shadow: 0 0 0 0.2rem grey" href="head_pages/blockFive">
                <h5 class="card-title">Дырокол</h5>
                <img class="card-img" th:src="@{../static/images/hole2.jpg}" alt="hole">
            </a>
            <a class="col m-2 text-body card border border-secondary" style="text-decoration: none; box-shadow: 0 0 0 0.2rem grey" href="head_pages/blockSix">
                <h5 class="card-title">Папки</h5>
                <img class="card-img" th:src="@{../static/images/registr.jpg}" alt="registr">
            </a>
            <a class="col m-2 text-body card border border-secondary" style="text-decoration: none; box-shadow: 0 0 0 0.2rem grey" href="head_pages/blockSeven">
                <h5 class="card-title">Калькулятор</h5>
                <img class="card-img" th:src="@{../static/images/calculator.jpg}" alt="calculator">
            </a>
            <a class="col m-2 text-body card border border-secondary" style="text-decoration: none; box-shadow: 0 0 0 0.2rem grey" href="head_pages/blockEight">
                <h5 class="card-title">Хозтовары</h5>
                <img class="card-img" th:src="@{../static/images/hoztovar.jpg}" alt="hoztovar">
            </a>
        </div>
    </div>
</div>

<footer th:insert="block_head_page/footer.html :: footer"></footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>