<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/user-page.css"
          media="all" th:href="@{css/user-page.css}">
    <title>Главная страница</title>
</head>
<body>
<header th:insert="block_user_page/header.html :: header"></header>
<center>
    <h1>Предлагаема продукция</h1>
</center>
<div class="container">
    <a class="href-block1" href="/user_pages/block_1"><p>Бумага</p></a>
    <a class="href-block2" href="/user_pages/block_2"><p>Ручки</p></a>
    <a class="href-block3" href="/user_pages/block_3"><p>Степлеры</p></a>
    <a class="href-block4" href="/user_pages/block_4"><p>Лотки</p></a>
    <a class="href-block5" href="/user_pages/block_5"><p>Дыраколы</p></a>
    <a class="href-block6" href="/user_pages/block_6"><p>Папки</p></a>
    <a class="href-block7" href="/user_pages/block_7"><p>Калькуляторы</p></a>
    <a class="href-block8" href="/user_pages/block_8"><p>Хозяйственные товары</p></a>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
</body>
</html>