<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" type="text/css" href="../../static/css/pages.css"
          media="all" th:href="@{../css/pages.css}">
    <title>Корзина покупателя</title>
    <style>
        .field {
            clear:both;
            text-align:right;
        }
    </style>
</head>
<body>
<header th:insert="block_user_page/header.html :: header"></header>
<div style="margin-top: 20px">
    <a style="font-size: 20px" href="/user-page">вернуться на главную</a>
</div>

<div style="width: 100% ;min-height: 300px">
    <div style="margin-top: 70px">
        <table>
            <caption th:inline="text" style="font-family: 'Calibra',sans-serif; font-size: 15px">
                Заявка
            </caption>
            <tr>
                <th style="background-color: #d0fff7">№</th>
                <th style="background-color: #d0fff7">Наимеование</th>
                <th style="background-color: #d0fff7">Колличество</th>
                <th style="background-color: #d0fff7">Цена</th>
                <th style="background-color: #d0fff7">Стоимость</th>
                <th style="background-color: #d0fff7">Удалить</th>
            </tr>
            <tr th:each="product : ${products}">
                <th:block th:with="incr=${products.indexOf(product)+1}">
                    <td width="50px" align="center" style="background-color: #d5d2ff" th:text="${incr}"></td>
                </th:block>
                <td width="200px" th:text="${product.getName()}"></td>
                <td width="150px" align="center" th:text="${product.getQuantity()}"></td>
                <td width="150px" align="center" th:text="${#numbers.formatDecimal(product.getPrice(),1,2)}"></td>
                <th:block th:with="sum=${product.quantity * product.price}">
                    <td width="150px" align="center" th:text="${(#numbers.formatDecimal(sum,1,2))}"></td>
                </th:block>
                <td align="center"><a th:href="@{/user_pages/basket/{productName}(productName=${product.getName()})}">
                    удалить из списка</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right" style="font-family: cursive" th:inline="text">
                    Итого: [[${#numbers.formatDecimal(allSum,1,2)}]] руб.
                </td>
            </tr>
        </table><br/><br/>
        <dialog class="dialog">
            <form action="/user_pages/basket" method="post">
                <div class="field"><label>Название организации:
                    <input type="text" placeholder="Название организации" th:field="${user.organization}">
                </label></div><br/>
                <div class="field"><label> УНН организации:
                    <input type="text" max="9" min="9" placeholder="УНН" th:field="${user.UNN}">
                </label></div><br/>
                <div class="field"><label>Юридический адрес организации:
                    <input type="text" placeholder="Юридический адрес" th:field="${user.address}">
                </label></div><br/>
                <div class="field"><label>Название банка организации:
                    <input type="text" placeholder="Название банка" th:field="${user.nameBank}">
                </label></div><br/>
                <div class="field"><label>Адрес банка:
                    <input type="text" placeholder="Адрес банка" th:field="${user.addressBank}">
                </label></div><br/>
                <div class="field"><label>Расчетный счет организации:
                    <input type="text" placeholder="IBAN" th:field="${user.IBAN}">
                </label></div><br/>
                <div class="field"><label>BIC:
                    <input type="text" placeholder="BIC" th:field="${user.BIC}">
                </label></div><br/>
                <div class="field"><label>контактный телефон:
                    <input type="tel" placeholder="Телефон для связи" th:field="${user.tel}">
                </label></div><br/>
                <div class="field"><label>Электронная почта:
                    <input type="email" placeholder="Электронная почта" th:field="${user.email}">
                </label></div><br/>
                <div class="field"><label>Адрес доставки товара:
                    <input type="text" placeholder="Адрес доставки товара" th:field="${user.address_store}">
                </label></div><br/>

                <div style="display: flex; width: 100%; min-height: 20px">
                    <div style="width: 50%; padding: 5px; align-items: flex-start">
                        <button type="submit" id="close">Отправить</button>
                    </div>
                    <div  style="width: 50%; padding: 5px; text-align: end">
                       <a id="cancel" href="/user_pages/basket">Отмена</a>
                    </div>
                </div>
            </form>
        </dialog>
        <button id="show">Оформить заявку</button>
        <script type = text/javascript th:if="${allSum!=0}">
            var dialog = document.querySelector('dialog');
            document.querySelector('#show').onclick = function() {
                dialog.show();
            };
            document.querySelector('#close').onclick = function() {
                dialog.close();
            };
        </script>
    </div>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
</body>
</html>