<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" type="text/css" href="../../static/css/pages.css"
          media="all" th:href="@{../css/pages.css}">
    <title>Корзина покупателя</title>
</head>
<body>
<header th:insert="block_user_page/header.html :: header"></header>
<div style="margin-top: 20px">
    <a style="font-size: 20px" href="/user-page">вернуться на главную</a>
</div>
<div style="width: 100% ;min-height: 300px;">
    <div style="margin-top: 70px">
        <table>
            <caption th:inline="text" style="font-family: 'Calibra',sans-serif; font-size: 15px">
                Счёт для оплаты № ... от [[${date}]] г.
            </caption>
            <tr>
                <th style="background-color: #d0fff7">№</th>
                <th style="background-color: #d0fff7">Наимеование</th>
                <th style="background-color: #d0fff7">Колличество</th>
                <th style="background-color: #d0fff7">Цена</th>
                <th style="background-color: #d0fff7">Стоимость</th>
                <th style="background-color: #d0fff7">Удалить</th>
            </tr>
            <tr th:each="product : ${products}">
                <th:block th:with="incr=${products.indexOf(product)+1}">
                    <td width="50px" align="center" style="background-color: #d5d2ff" th:text="${incr}"></td>
                </th:block>
                <td width="200px" th:text="${product.getName()}"></td>
                <td width="150px" align="center" th:text="${product.getQuantity()}"></td>
                <td width="150px" align="center" th:text="${#numbers.formatDecimal(product.getPrice(),1,2)}"></td>
                <th:block th:with="sum=${product.quantity * product.price}">
                    <td width="150px" align="center" th:text="${(#numbers.formatDecimal(sum,1,2))}"></td>
                </th:block>
                <td align="center"><a th:href="@{/user_pages/basket/{productName}(productName=${product.getName()})}">
                    удалить из списка</a>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right" style="font-family: cursive" th:inline="text">
                    Итого: [[${#numbers.formatDecimal(allSum,1,2)}]] руб.
                </td>
            </tr>
        </table>
    </div>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
</body>
</html>