<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" type="text/css" href="../../static/css/pages.css"
          media="all" th:href="@{../css/pages.css}">
    <title>Block five</title>
</head>
<body>
<header th:insert="block_user_page/header.html :: header"></header>
<br/>
<a class="back" href="/user-page">Назад</a>

<div class="head-block">
    <div class="inner-block" th:each="hole : ${list_holes}">
        <img class="image" th:src="@{{url}(url=${hole.url})}" alt="изображение" >
        <table>
            <tr>
                <th>Наименование:</th>
                <td th:text="${hole.name}"></td>
            </tr>
            <tr>
                <th>Цена:</th>
                <td th:inline="text">[[${hole.price}]] руб.</td>
            </tr>
            <tr>
                <th>Количество:</th>
                <td th:text="${hole.quantity}"></td>
            </tr>
            <tr>
                <th>Описание:</th>
                <td th:text="${hole.description}"></td>
            </tr>
        </table><br/>
        <form action="/user_pages/block_5" th:object="${hole2}"  method="post"
              onsubmit="execute(this)">
            <input type="hidden" name="name" th:value="${hole.getName()}">
            <label>Выберите нужное кол-во
                <input type="number" name="quantity" min="0"  th:max="${hole.quantity}" size="6"
                       th:value="${hole2.quantity}" th:field="${hole2.quantity}">
                <input type="hidden" name="id" th:value="${hole.getId()}">
            </label>
            <input type="submit" style="background-color: greenyellow" value="В корзину">
            <p style="color: red; font-family: 'Arial Black',cursive"
               th:if="${hole.getQuantity()==0}">
                Товар отсутствует на складе
            </p>
        </form>
    </div>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
<script type="text/javascript">
    function execute(form) {
        let name = form.name.value;
        let quantity = form.quantity.value;
        if (quantity > 0){
            alert(name+" "+"в кол-ве "+quantity+" шт. в корзине.")
        }
    }
</script>
</body>
</html>