<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
    <link rel="stylesheet" type="text/css" href="../../static/css/pages.css"
          media="all" th:href="@{../css/pages.css}">
    <title>Block one</title>
    <script type="text/javascript">
        function execute(form) {

        }
    </script>
</head>
<body>
<header th:insert="block_user_page/header.html :: header"></header>

<br/>
<a class="back" href="/user-page">Назад</a>
<div class="head-block">
    <div class="inner-block" th:each="calculator : ${list_calculators}">
        <img class="image"  alt="изображение" th:src="@{{url}(url=${calculator.getUrl()})}" >
            <tr>
                <th>Наименование:</th>
                <td  th:text="${calculator.getName()}"></td>
            </tr>
            <tr>
                <th>Цена:</th>
                <td  th:inline="text">[[${calculator.getPrice()}]] руб.</td>
            </tr>
            <tr>
                <th>Количество:</th>
                <td th:text="${calculator.getQuantity()}"></td>
            </tr>
            <tr>
                <th>Описание:</th>
                <td th:text="${calculator.getDescription()}"></td>
            </tr>
        </table>
        <br/>
        <form action="/user_pages/block_7" th:object="${calculator2}"  method="post"
              onsubmit="execute(this)">
            <label>Выберите нужное кол-во
                <input type="number" name="quantity" min="0"  th:max="${calculator.quantity}" size="6"
                       th:value="${calculator2.quantity}" th:field="${calculator2.quantity}">
                <input type="hidden" name="id" th:value="${calculator.getId()}">
            </label>
            <input type="submit" style="background-color: greenyellow" value="В корзину">
            <p style="color: red; font-family: 'Arial Black',cursive"
               th:if="${calculator.getQuantity()==0}">
                Товар отсутствует на складе
            </p>
        </form>
    </div>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
</body>
</html>