<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/pages.css"
          media="all" th:href="@{../css/pages.css}">
    <title>Мои заказы</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>

<header th:insert="block_user_page/header.html :: header"></header>
<div class="order-head_block">
    <div class="order-left_block">
        <b>Мои оплаченные счет-фактуры:</b>
        <div th:if="${paidOrders.size()==0}" style="text-align: center; padding-top: 50px">
            <b style="color: red">У Вас отсутствуют оплаченные счет-фактуры</b>
        </div>
        <div style="width: 100%;text-align: left; margin: 10px" th:each="order:${paidOrders}">
            <table>
                <tr>
                    <th style="font-size: 20px; vertical-align: top" th:inline="text">[[${paidOrders.indexOf(order)+1}]]  </th>
                    <td th:inline="text" style="color: darkslategrey">
                        Счёт-фактура № [[${order.getId()}]] от [[${form2.format(order.getDate())}]] г.<br/>
                        Общая сумма [[${df.format(order.getAllCost())}]] руб.
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="order-right_block">
        <div th:if="${list.size()==0}">
            <center><h2>У Вас нет выписанных счет-фактур.</h2></center>
        </div>
        <div class="print">
            <div th:each="order : ${list}">
                <div style="height: 1030px">
                    <div class="number-order" style=" min-width: 60%;margin: 60px;text-align: center;
                    font-size: 18px">
                        <b>
                            Счёт-фактура № [[${order.getId()}]] от [[${form1.format(order.getDate())}]] г.
                        </b>
                    </div>

                    <div style="display: inline-flex; width: 100%">
                        <div style="min-width: 20%;min-height: 50px; text-align: center; font-family: Calibri cursive">
                            <b>Поставщик: </b>
                        </div>
                        <div style="min-width: 80%; min-height: 60px">
                            <b>ООО КанцГруппКомпани</b> г.Минск, Игуменский тракт,1-25<br/> ЗАО "Приорбанк" ЦБУ 111,
                            пр.Машерова,40<br/> <b>IBAN:</b> BY22 4567 7658 2345 9999 <b>BIC:</b> 2BYFGH
                        </div>
                    </div>

                    <div style="display: inline-flex; width: 100%">
                        <div style="width: 20%;height: 50px; text-align: center; font-family: Calibri cursive">
                            <b>Покупатель: </b>
                        </div>
                        <div style="width: 80%; min-height: 60px" th:inline="text">
                            <b>[[${order.getUser().getOrganization()}]]</b>, [[${order.getUser().getAddress()}]]<br/>
                            <b>УНН </b>[[${order.getUser().getUNN()}]]<br/>
                            [[${order.getUser().getNameBank()}]], [[${order.getUser().getAddressBank()}]]<br/>
                            <b>IBAN: </b>[[${order.getUser().getIBAN()}]] <b>BIC: </b>[[${order.getUser().getBIC()}]]
                        </div>
                    </div>

                    <div style=" min-width: 450px; padding-left: 40px; padding-top: 60px; margin-right: 30px ">
                        <table style="min-height: 100px; min-width: 450px" border="1px">
                            <tr>
                                <th>№</th>
                                <th>Наимеование</th>
                                <th>Колличество</th>
                                <th>Цена</th>
                                <th>Стоимость</th>
                            </tr>
                            <tr th:each="product : ${order.getProducts()}">
                                <th:block th:with="incr=${order.getProducts().indexOf(product)+1}">
                                    <td width="50px" align="center" th:text="${incr}"></td>
                                </th:block>
                                <td width="200px" th:text="${product.getName()}"></td>
                                <td width="50px" align="center" th:text="${product.getQuantity()}"></td>
                                <td width="150px" align="center"
                                    th:text="${#numbers.formatDecimal(product.getPrice(),1,2)}"></td>
                                <th:block th:with="sum=${product.quantity * product.price}">
                                    <td width="150px" align="center"
                                        th:text="${(#numbers.formatDecimal(sum,1,2))}"></td>
                                </th:block>
                            </tr>
                            <br/>
                            <tr>
                                <td></td>
                                <td th:with="variable=${df.format(order.getAllCost())}">
                                    <b>Итого к оплате:</b> [[${variable}]] руб.
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div style="min-width: 200px; min-height: 100px; margin-left: 50px;margin-top: 70px">
                        <img src="../../images/p1.png" alt="image" style="height: 170px; width: 170px">
                    </div>
                    <div style="display: flex; width: 100%; min-height: 30px" th:if="${order.isStatus()==false}">
                        <div style="width: 100%; text-align: center">
                            <p style="color: red; font-size: 25px;
                 font-family: 'Book Antigua',sans-serif">Счёт не оплачен</p>
                            <p style="font-size: 15px; font-family: 'Times New Roman',sans-serif; color: black;
                   line-height: 1px">
                                <b>Ждём оплату. Счёт действителен в течении трёх дней.</b></p>
                        </div>
                    </div>

                    <div style="display: flex; width: 100%; min-height: 40px" th:if="${order.isStatus()==true}">
                        <div style="width: 50%; text-align: center">
                            <p style="color: green; font-size: 25px;
                 font-family: 'Book Antigua',sans-serif">Счёт оплачен</p>
                            <p style="font-size: 15px; font-family: 'Times New Roman',sans-serif; color: black;
                   line-height: 1px"><b>Товар будет доставлен в течении трёх дней.</b></p>
                            <p> тел. для связи с нами: +375 44 500 00 00 </p>
                        </div>
                        <div style="width: 50%; text-align: center">
                            <form action="/user_pages/orders" method="post">
                                <input type="hidden" name="id_order" th:value="${order.getId()}">
                                <button type="submit">В архив</button>
                            </form>
                        </div>
                    </div>

                </div>
                <br/>
                <br/>
            </div>
        </div>
        <div th:if="${list.size()>0}">
            <input style="margin: 10px" type="button" value="Печать" onclick="printElement('.print')"/>
        </div>
    </div>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
<script type="text/javascript">

    function printElement(elem) {
        Popup($(elem).html());
    }

    /**
     * @return {boolean}
     */
    function Popup(data) {
        const myWindow = window.open('', 'Мои заказы', 'height=500, width=900');
        myWindow.document.write('<html lang="en"><head><title>Мои заказы</title>');
        myWindow.document.write('<link rel="stylesheet" type="text/css" href="../../static/css/pages.css" media="all">');
        myWindow.document.write('</head><body>');
        myWindow.document.write(data);
        myWindow.document.write('</body></html>');
        myWindow.document.close();

        myWindow.focus();
        myWindow.print();
        myWindow.close();
        return true;
    }

</script>
</body>
</html>