<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../../static/css/admin.css"
          media="all" th:href="@{../../../css/admin.css}">
    <title>Обновление товара</title>
    <style>
        div{
            margin: 10px;
        }
        .block{
            width: 400px;
            height: 250px;
        }
        .field {
            clear:both; text-align:right;
        }
    </style>
</head>
<body>
<header th:insert="block_admin_page/header_admin.html :: header"></header>
<div style="width: 100%; min-height: 400px">
<h2>Обновить товар</h2>
<form th:action="@{/admin/trays/update}" th:object="${tray}" method="post">
    <div class="block">
        <div class="field"><label>ID товара:
            <input  type="text"  th:field="${tray.id}">
        </label></div>
        <div class="field"><label>Название товара:
            <input  type="text"  th:field="${tray.name}">
        </label></div>
        <div class="field" ><label>Цена товара:
            <input type="text"  th:field="${tray.price}">
        </label></div>
        <div class="field"><label>Количество товара:
            <input  type="number"  min="0" th:field="${tray.quantity}">
        </label></div>
        <div  class="field"><label>Описание товара:
            <input  type="text"  th:field="${tray.description}">
        </label></div>
        <div  class="field"><label>Url изображения:
            <input  type="text"  th:field="${tray.url}">
        </label></div>
        <div class="field">
            <input type="submit" value="обновить">
        </div>
    </div>
</form><br/><br/><center><a href="/admin/paper/all_product">Назад</a></center>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
</body>
</html>