<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css"
          media="all" th:href="@{../css/main.css}">
    <title>Block two</title>
</head>
<body>
<header th:insert="block_head_page/header.html :: header"></header>
<br/>
<a class="back" href="/">Назад на Главную страницу</a>
<div class="head-block">
    <div class="inner-block" th:each="calculator : ${list_calculators}">
        <img class="image" th:src="@{{url}(url=${calculator.url})}" alt="изображение">
        <table>
            <tr>
                <th>Наименование:</th>
                <td th:text="${calculator.name}"></td>
            </tr>
            <tr>
                <th>Цена:</th>
                <td th:inline="text">[[${calculator.getPrice()}]] <b>руб.</b></td>
            </tr>
            <tr>
                <th>Количество:</th>
                <td th:inline="text">[[${calculator.quantity}]] <b>шт.</b></td>
            </tr>
            <tr>
                <th>Описание:</th>
                <td th:text="${calculator.description}"></td>
            </tr>
        </table>
    </div>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
</body>
</html>