<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../../static/css/admin.css"
          media="all" th:href="@{../../css/admin.css}">
    <title>Список товаров</title>
</head>
<body>
<header th:insert="block_admin_page/header_admin.html :: header"></header>
<div style="width: 100%; min-height: 400px">
<center>
    <a href="/admin">Вернуться на главную страницу администратора</a>
    <div><br/><br/><br/>
        <a href="/admin/holes/add">Добавить товар</a>
        <table style="background-color: snow" border="1">
            <caption> <h2>Список товаров</h2></caption>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Цена<p id="rub">руб.</p></th>
                <th>Количество</th>
                <th>Описание</th>
                <th>Url изображения</th>
                <th>Обновить</th>
                <th>Удалить</th>
            </tr>
            <tr th:each="hole : ${holes}">
                <td><a id="getID" th:href="@{/admin/holes/hole/{id}(id=${hole.getId()})}"  th:text="${hole.getId()}"></a></td>
                <td th:text="${hole.getName()}">...</td>
                <td th:text="${hole.getPrice()}">...</td>
                <td th:text="${hole.getQuantity()}">...</td>
                <td th:text="${hole.getDescription()}">...</td>
                <td th:text="${hole.getUrl()}">...</td>
                <td><a id="update" th:href="@{/admin/holes/update/{id}(id=${hole.getId()})}">
                    обновить</a></td>
                <td><a th:href="@{/admin/holes/delete/{id}(id=${hole.getId()})}" class="delete">Удалить</a></td>
            </tr>
        </table>
    </div><br/>
</center>
</div>
<footer th:insert="block_head_page/footer.html :: footer"></footer>
</body>
</html>